/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family:'Inconsolata';
}

body{
  background-image: url(../img/bg.png);
  background-color: #0F141C;
  background-position: center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index:1;
  color: #fff;
}
body:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0f141ce4;
  z-index: -1;

}

img{
  width: 100%;
  height: 100%;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 8%;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100vh;
  background-color: #0F141C;
}

.side_bar{
  width: 30%;
  background-color: #171b22;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.profile_img{
  width: 50%;
  margin-top: 20px;

}

.profile_img img {
  width: 100%;
}

.typed_text{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.text{
  font-size: 1.1rem;
  text-align: center;
}
.profile_det{
  font-size: 1.2rem;
  font-weight: 600;
}

.profile_det p{
  text-align: center;
}

.profile_det h2{
  font-size: 1.5rem;
  font-weight: 600;
}

.social_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;



}

.social_icon i{
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: .3s ease;
  background-color: #0F141C;
 
}

.social_icon i:hover{
  background-color: #00cc97;
}

.side_menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.side_menu li {
  width: 100%;
  border-top: 1px solid rgba(131,131,131,0.5);
  padding: 10px 5%;
  cursor: pointer;
}

.side_menu li a{
  margin-left: 10px;
  font-size: 1.2rem;
  color: #fff;
  transition: .3s ease;
}
.side_menu li i{
  font-size: 1.2rem;
  transition: .3s ease;
  margin-right: 10px;
}

.side_menu li:hover a{
  color: #00cc97;
}

.side_menu li:hover i{
  color: #00cc97;
}

.download_btn{
  width: 300px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.download_btn i{
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #Ff759c;
  color: #fff;
  transition: .3s ease;
  top: 10%;
  position: absolute;
  left: 5%;
}

.download_btn a{
  color: #fff;
  font-size: 1.2rem;
  padding-left: 20%;
  transition: .6s ease;
}
.download_btn:hover i{
  left: 75%;
  background-color: #fff;
  color: #Ff759c;
}
.download_btn:hover a{
  padding-right: 32%;
}

/* Main section */
main{
  width:80%;
  height: 100vh;
  background-color: #0F141C;
  overflow-y: scroll;
}

main::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

main::-webkit-scrollbar-thumb{
  background-color: #00cc97;
}

/* Hero section */
.hero{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 2%;
  color: #fff;
  position: relative;

}

.content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

}

.content h1 {
  font-size: 3rem;
  line-height: 2rem ;
  font-weight: 600;

}
.content h1 span{
  font-weight: 600;
}

.content .typed_text{
  color: #Ff759c;
  margin: 2px;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(131,131,131,0.5);
  margin-top: 2px;
}

.hero_text{
  font-size: 1.5rem;
  color: #Ff759c;
}
.hero_btns{
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  width: 170px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #00cc97;
  color: #000;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:after{
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #Ff759c;
  z-index: -1;
  transition: .6s;
}

button:hover:after{
  height: 100%;
}

.btn{
  background-color: #ffd659;
}

.hero_img{
  width: 55%;
  position: relative;

}

.user_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user_det h3{
  font-weight:400;
}

.user_det{
  position: absolute;
  top: 75%;
  left: 50%;
  background-color: #171B22;
  color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 1%;
  gap: 20px;
  border-radius: 20px;

}

.user_imgs{
  display: flex;
  align-items: center;

}

.user_img{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  filter:grayscale(100);
  margin-right: 5px;
  transition: .3s ease;
}

.user_img:hover{
  cursor: pointer;
  filter:grayscale(0)
}

.user_info p{
  font-size:1.2rem;
  font-weight: 400;
}

.head_text{
  color: #fff;
  font-weight: 400;
  padding-left: 2%;
}

.slider{
  height:50px;
  margin: auto;
  width: 90%;
  display: grid;
  place-content:center;
  place-items: center;
  overflow: hidden;
  transform: translateY(30px);
}

.slide-track{
  display: flex;
  align-items: center;
  width: calc(250px * 40);
  animation: scrolls 40s forwards infinite;
  position: relative;
}
.slide{
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 15px;
  margin:0 30px;
}

@keyframes scrolls{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(calc(-150px * 20));
}
}

/* About section */

.about{
  flex-direction: column;

}

.headings{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.headings h1{
 font-size: 3rem;
 color: #fff;
}
.underline{
  margin-top: 10px;

}

.headings:after{
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(131,131,131,1);

}

.about p{
  font-size:1.3rem ;
  font-weight: 300;
  color: rgba(131,131,131,1);
}
.about p span{
  color: #fff;
}

.about_info{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  color: #fff;
  margin-top: 50px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h2 span {
  color:rgba(131,131,131,1);
  font-weight: 400;
}

.info_det{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_det h2{
  font-weight: 300;

}

.info_det span{
  margin: 0 10px;
}

/* EDUCATION AND EXPERIENCE */
.education_experience{
  width: 100%;
  display: flex;
  gap: 30px;
  color: #fff;
}

.education_cards{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
}

.education_card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  padding-left: 5%;
}

.education_card::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5px;
  height: 100%;
  background-color: #fff;

}

.education_card:before{
  content: '';
  position: absolute;
  top: 0;
  left: -1.5%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #Ff759c;
  z-index: 1;
  border: 2px solid #fff;
}

.education_card h2{
  font-size: 1.5rem;
  font-weight: 200;
  transition: .3s;
}

.education_card h3{
  font-size: 1.3rem;
  font-weight: 300;
  color: #999;
  transition: .3s;
}

.education_card p{
  font-size: 1.1rem;
  color: #999;
  font-weight: 300;
  transition: .3s;
}

.education_card:hover h2{
  color:#Ff759c
}

.education_card:hover h3{
  color:#fff
}

.education_card:hover p{
  color:#fff
}

.experience_cards{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
}

.experience_card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  padding-left: 5%;
}

.experience_card::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5px;
  height: 100%;
  background-color: #fff;

}

.experience_card:before{
  content: '';
  position: absolute;
  top: 0;
  left: -2.8%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #Ff759c;
  z-index: 1;
  border: 2px solid #fff;
}

.experience_card h2{
  font-size: 1.5rem;
  font-weight: 200;
  transition: .3s;
}

.experience_card h3{
  font-size: 1.3rem;
  font-weight: 300;
  color: #999;
  transition: .3s;
}

.experience_card p{
  font-size: 1.1rem;
  color: #999;
  font-weight: 300;
  transition: .3s;
}

.experience_card:hover h2{
  color:#Ff759c
}

.experience_card:hover h3{
  color:#fff
}

.experience_card:hover p{
  color:#fff
}